<div class="row">
    <style type="text/css">
    .media,
    .media-body {
        overflow: initial;
        zoom: 1;
    }
    </style>
    <div class="col-lg-7 col-md-7 col-xs-12">
        <div class="container-fluid" ng-if="vm.edit && currentAuthor.status == 'APPROVED'">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="post-create">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span data-translate="technewApp.author.home.createPost">
                        Create new Post
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <post-list method="author" query="vm.author" show-status="vm.showStatus"></post-list>
    </div>
    <div class="col-lg-5 col-md-5 hidden-xs">
        <div class="media">
            <div class="media-left">
                <div class="gs-avatar">
                    <img src="content/images/author/avatar/md.png" ng-src="{{vm.imgAvatar}}" class="image-md media-object">
                    <span ng-show="vm.edit">
                    <crop-image croped-image="vm.imgAvatar" is-croped="isCroped" class="labelInput" width="160" height="160"></crop-image>
                    </span>
                </div>
            </div>
            <div class="media-body">
                <p>
                    <h4 class="media-heading"><a href="#" editable-text="vm.author.name" edit-disabled="!vm.edit" e-label="{{ 'technewApp.author.name' | translate }}" onbeforesave="vm.updateauthor()"> {{ vm.author.name || 'technewApp.author.no_name' | translate }}</a></h4>
                </p>
                <p>
                    <a href="#" editable-bsdate="vm.author.birthDay" edit-disabled="!vm.edit" e-label="{{ 'technewApp.author.birthDay' | translate }}" " e-datepicker-popup="{{dateformat}} " e-is-open="opened.$data " e-ng-click="open($event, '$data') " onbeforesave="vm.updateauthor() ">{{(vm.author.birthDay | date:'dd/MM/yyyy') || 'technewApp.author.no_birthDay' | translate }}</a>
                </p>
                <p>
                    <a href="# " editable-text="vm.author.phone " edit-disabled="!vm.edit " e-label="{{ 'technewApp.author.phone' | translate }} "" onbeforesave="vm.updateauthor()"> {{ vm.author.phone || 'technewApp.author.no_phone' | translate }}</a>
                </p>
                <p>
                    <a href="#" editable-text="vm.author.address" edit-disabled="!vm.edit" e-label="{{ 'technewApp.author.address' | translate }}" " onbeforesave="vm.updateauthor() "> {{ vm.author.address || 'technewApp.author.no_address' | translate }}</a>
                </p>
            </div>
        </div>
        <div ng-if="!vm.edit " class="panel-default ">
            <div class="panel-heading " style="cursor: pointer " ng-init="show_gt=false " ng-show="show_gt " ng-click="show_gt=false; ">
                <span class="h4 " data-translate="technewApp.author.aboutMe_full "></span>
            </div>
            <div class="panel-heading " style="cursor: pointer " ng-init="show_gt=false " ng-hide="show_gt " ng-click="show_gt=true ">
                <span class="h4 " data-translate="technewApp.author.aboutMe_mini "></span>
            </div>
            <div class="panel-body ">
                <div ng-bind-html="vm.author.aboutMe " ng-show="show_gt ">
                </div>
                <div ng-hide="show_gt " ng-bind-html="vm.author.aboutMe | limitTo: 1000 ">
                </div>
            </div>
        </div>
        <div ng-if="vm.edit " class="panel-default ">
            <div class="panel-heading " style="cursor: pointer " ng-init="show_gt=false " ng-show="show_gt " ng-click="show_gt=false; vm.updateauthor() ">
                <span class="h4 " data-translate="technewApp.author.edit_aboutMe "></span>
            </div>
            <div class="panel-heading " style="cursor: pointer " ng-init="show_gt=false " ng-hide="show_gt " ng-click="show_gt=true ">
                <span class="h4 " data-translate="technewApp.author.aboutMe "></span>
            </div>
            <div class="panel-body ">
                <div text-angular ng-model="vm.author.aboutMe " ng-show="show_gt && vm.edit ">
                </div>
                <div ng-hide="show_gt " ng-bind-html="vm.author.aboutMe | limitTo: 1000 ">
                </div>
            </div>
        </div>
    </div>
</div>
